In [9]:
import pandas as pd

lego_sets = pd.read_csv('data/lego_sets.csv')
lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [10]:
parent_themes = pd.read_csv('data/parent_themes.csv')
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [11]:
merged_df = pd.merge(lego_sets, parent_themes, how='inner', left_on='parent_theme', right_on='name')
merged_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,Space,False

In [12]:
licensed_df = merged_df[merged_df['is_licensed'] == True]
licensed_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,Super Heroes,True

In [13]:
parent_theme_counts = licensed_df['parent_theme'].value_counts()
parent_theme_counts

parent_theme
Star Wars                           609
Super Heroes                        343
Harry Potter                         93
Minecraft                            44
Disney Princess                      41
The Hobbit and Lord of the Rings     40
Cars                                 27
Teenage Mutant Ninja Turtles         21
Indiana Jones                        19
Pirates of the Caribbean             17
Toy Story                            15
SpongeBob SquarePants                14
The Lone Ranger                       8
Jurassic World                        7
Prince of Persia                      6
Scooby-Doo                            6
Disney's Mickey Mouse                 6
Angry Birds                           6
Ben 10                                6
Avatar                                2
Disney                                1
Ghostbusters                          1
Name: count, dtype: int64

In [14]:
num_rows_licensed_df = licensed_df.shape[0]
num_rows_licensed_df

the_force = round(parent_theme_counts[0]/num_rows_licensed_df*100)
the_force

C:\Users\dipid\AppData\Local\Temp\ipykernel_14688\2636717304.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  the_force = round(parent_theme_counts[0]/num_rows_licensed_df*100)

46

In [15]:
star_wars_df = licensed_df[licensed_df['parent_theme'] == 'Star Wars']
star_wars_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True

In [16]:
counts = star_wars_df['year'].value_counts()
counts = counts.sort_values(ascending=False)

new_era = counts.index[0]